{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> Great! See you there</h1>
    <h4> Here is the Event details:</h4>
    <br />
    {{#each events}}
    {{#if @last}}
    <h3> Event name: {{eventname}}</h3>
    <h3> Day: {{date}}</h3>
    <h3> Time: {{time}}</h3>
    {{/if}}
    {{/each}}
    {{#each addresses}}
    <h3>{{#if @last}}Address: {{street}} {{city}}, {{state}} {{zip}}{{/if}}</h3>
    {{/each}}
    <a href="/myeventsmain" class="btn btn-lg btn-default btn-block">My Events</a>
  </div>
  </body>
      <!-- {{> footer_back_home}} -->
  </html>
