{{> html_head}}
{{> navbar}}

<div class="container">
  <h2>Event Info</h2>
  {{#addhosts}}
  {{#if @last}}
  <h3> Event name: {{eventname}}</h3>
  <h3> Day: {{date}}</h3>
  <h3> Time: {{time}}</h3>


  <h3> Hosted Food: {{foodname}}</h3>

  <h3>Address: {{street}} {{city}}, {{state}} <br />{{zip}}</h3>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1" class="btn btn-lg btn-default btn-block"> Ingredients</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item">{{recipe1}}</li>
          <li class="list-group-item">{{recipe2}}</li>
          <li class="list-group-item">{{recipe3}}</li>
          <li class="list-group-item">{{recipe4}}</li>
          <li class="list-group-item">{{recipe5}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  {{/if}}
  {{/addhosts}}
  <a href="/cancelled" class="btn btn-lg btn-danger btn-default col-sm-6">Cancel Event</a>
</div>

</body>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href='/home'><button type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></a>
      </div>
    </div>
</nav>
</html>
